local-ai-packaged/n8n-tool-workflows/12_1___AI_Agents_See__Speak__Read_and_Chat.json
{
  "name": "12.1 **AI Agents See, Speak, Read and Chat",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "id": "717eb6c1-c372-4e3c-9493-76f88d3e9247",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        480,
        480
      ],
      "webhookId": "6732f3b6-17ec-4272-9f40-349d28901868",
      "credentials": {
        "telegramApi": {
          "id": "U5llWMLyKKrsKn7Q",
          "name": "Telegram - PAforAndyBot"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "e4b9f6d3-0568-4cee-bd55-4948bfb57aae",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1780,
        480
      ],
      "credentials": {
        "openAiApi": {
          "id": "B1xgcEjX0hRSH8UV",
          "name": "OpenAi Account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/botxxxxxxxxxx:xxxxxxxxxx-xxxxx\n/getFile?file_id={{ $json.message.voice.file_id }}",
        "options": {}
      },
      "id": "99f12988-8c82-4c90-bfac-bef90f94bee6",
      "name": "Get File Path",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        600
      ]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/botxxxxxxxxxx:xxxxxxxxxx-xxxxx\n/{{ $json.result.file_path }}",
        "options": {}
      },
      "id": "41002925-230e-4645-b7b8-07367fb3a92b",
      "name": "Download Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "const caption = $('Telegram Trigger').first().json.message.caption;\nconst image_content = $input.first().json.content;\n\nreturn {\n  message: `Please answer user question: ${caption} with following image description: ${image_content}`\n}"
      },
      "id": "33eac08b-b6c3-4348-9dd7-e890736d1ad3",
      "name": "Format Transform",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  message: $input.first().json.text\n}"
      },
      "id": "f63a33b3-dc97-4333-96e4-8c8360f80c28",
      "name": "Format Transform 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1480,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  message: $input.first().json.message.text\n}"
      },
      "id": "4846d5d9-07ba-4e3e-9bee-800c45faa48c",
      "name": "Format Transform  3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        840
      ]
    },
    {
      "parameters": {
        "jsCode": "const caption = $('Telegram Trigger').first().json.message.caption;\nconst image_content = $input.first().json.output;\n\nreturn {\n  message: `Please answer user question: \"${caption}\" with following image description: ${image_content}`\n}"
      },
      "id": "0dcc7f79-99f5-49b6-83da-04ff3025154f",
      "name": "Format Transform 4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1480,
        120
      ]
    },
    {
      "parameters": {
        "toolDescription": "This bot help you to scrap all contact information for lead gen from google map. Input query \"q\" for search input, \"ll\" for latlng, \"page\" is for the current page. For \"ll\", please follow coordinates in this format: @latitude,longitude,zoom, for example: @40.6973709,-74.1444871,11z.",
        "url": "https://google.serper.dev/maps",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "q"
            },
            {
              "name": "ll"
            },
            {
              "name": "page"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "X-API-KEY",
              "valueProvider": "fieldValue",
              "value": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            }
          ]
        }
      },
      "id": "0840702c-576c-4c2d-8325-0e41a8ad0ad7",
      "name": "Map Searcher",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2491,
        480
      ]
    },
    {
      "parameters": {
        "toolDescription": "This bot help you to search it from internet result perplexity, pass \"question\" as parameter for the searching question.",
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{question}\"\n    }\n  ]\n}"
      },
      "id": "d6837a88-6779-45e8-ba93-aa42260d3a7d",
      "name": "Perplexity Search",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2600,
        480
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YQt31pOrylWQ7F10",
          "name": "Perplexity"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to delete a calendar event.",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "andylo@proxa.cc",
          "mode": "list",
          "cachedResultName": "Tasks"
        },
        "eventId": "={{ $fromAI(\"eventId\",\"it is the event id of the calendar event\") }}",
        "options": {}
      },
      "id": "42f2ad4c-0094-4fcd-b8fc-c66ffb5279b0",
      "name": "Delete Calendar Event",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        2120,
        480
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "CoQzrf1SdD6Lgqgv",
          "name": "Google Calendar - andylo@proxa.cc"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to change the data and time of the event.",
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "andylo@proxa.cc",
          "mode": "list",
          "cachedResultName": "Tasks"
        },
        "eventId": "={{ $fromAI(\"eventId\",\"it is the event id of the calendar event\") }}",
        "updateFields": {
          "end": "={{ $fromAI(\"eventEndTime\",\"it is the meeting date ending time\") }}",
          "start": "={{ $fromAI(\"eventStartTime\",\"it is the meeting date starting time\") }}"
        }
      },
      "id": "5624a5c2-900d-41d8-a3c2-edb8784c2eb3",
      "name": "Update Calendar Event",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        2220,
        480
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "CoQzrf1SdD6Lgqgv",
          "name": "Google Calendar - andylo@proxa.cc"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "andylo@proxa.cc",
          "mode": "list",
          "cachedResultName": "Tasks"
        },
        "options": {
          "timeMin": "={{ $now }}",
          "timeMax": "={{ $now.plus({ week: 4 }) }}"
        }
      },
      "id": "e80be628-e1fb-4731-9682-7c6b083af3e8",
      "name": "Get Calendar Event",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        1900,
        480
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "CoQzrf1SdD6Lgqgv",
          "name": "Google Calendar - andylo@proxa.cc"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=- Use this tool when the user explicitly or implicitly requests drafting (e.g., \"Prepare a draft\").  \n- DEFAULT to the Draft tool if no explicit instruction is provided in the email body. ",
        "resource": "draft",
        "subject": "={{ $fromAI(\"emailSubject\",\"it is the email subject\") }}",
        "message": "={{ $fromAI(\"emailBody\",\"it is the email message body\") }}",
        "options": {
          "sendTo": "={{ $fromAI(\"emailAddressReceipient\",\"it is the email address of recipient\") }}"
        }
      },
      "id": "764bdd5f-ebb4-4584-94d2-a5386d9237d4",
      "name": "Draft Tool",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        2780,
        480
      ],
      "webhookId": "01a774ea-71dc-4a2f-9ce1-b9223f30c07c",
      "credentials": {
        "gmailOAuth2": {
          "id": "9konQaB9iZTv7pz6",
          "name": "Gmail - andylo@proxa.cc"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "- Use this tool ONLY when the email body explicitly mentions replying to an email (e.g., \"Please reply to this email\").  \n- DEFAULT to the Draft tool if no specific instruction about replying is provided. ",
        "operation": "reply",
        "messageId": "={{ $json.query.threadId }}",
        "emailType": "text",
        "message": "={{ $fromAI(\"emailBody\",\"it is the email message body\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "224efa6a-0ec1-4a6f-94e7-52a60b47df5e",
      "name": "Reply Tool",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        2880,
        480
      ],
      "webhookId": "68f9e20c-a83c-4cc1-952e-467d6d8476ee",
      "credentials": {
        "gmailOAuth2": {
          "id": "9konQaB9iZTv7pz6",
          "name": "Gmail - andylo@proxa.cc"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "- Use this tool ONLY when the email body explicitly mentions sending an email (e.g. \"Please send this email to\") AND there is NO `threadId` provided.  \n- DEFAULT to the Draft tool if nothing is specified.",
        "sendTo": "={{ $fromAI(\"emailAddressReceipient\",\"it is the email address of recipient\") }}",
        "subject": "={{ $fromAI(\"emailSubject\",\"it is the email subject\") }}",
        "emailType": "text",
        "message": "={{ $fromAI(\"emailBody\",\"it is the email message body\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "090a82ac-1803-4968-8e90-3754505e1f91",
      "name": "Send Tool",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        2980,
        480
      ],
      "webhookId": "928f5a02-a550-403e-a9c0-c1452dbccd32",
      "credentials": {
        "gmailOAuth2": {
          "id": "9konQaB9iZTv7pz6",
          "name": "Gmail - andylo@proxa.cc"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "This is a web crawler, you can input URL for scrapping the website content.",
        "url": "https://scrape.serper.dev",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "url"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "X-API-KEY",
              "valueProvider": "fieldValue",
              "value": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            }
          ]
        }
      },
      "id": "debe60a4-4a8a-49b5-9d31-2bf170ab267b",
      "name": "Web Crawler",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2380,
        480
      ]
    },
    {
      "parameters": {
        "content": "## Google Calendar",
        "height": 207.46086200700495,
        "width": 453.73656947225834,
        "color": 2
      },
      "id": "784baa6c-b29f-4975-927c-601605d12dac",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1880,
        420
      ]
    },
    {
      "parameters": {
        "content": "## Web & Map Search, Scraper\n",
        "height": 205.76583122104051,
        "width": 366.23157795550344,
        "color": 3
      },
      "id": "5cb61504-d114-40ec-ac45-0014d802012b",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2351,
        420
      ]
    },
    {
      "parameters": {
        "content": "## Gmail",
        "height": 205.76583122104046,
        "width": 356.5952162586524,
        "color": 4
      },
      "id": "e88ee986-0114-4332-808f-bd1dd28bb4a4",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2740,
        420
      ]
    },
    {
      "parameters": {
        "content": "## File message handler",
        "height": 217.2772064281918,
        "width": 817.294025812465
      },
      "id": "086e517c-af53-4944-9c57-c23bf6e20369",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        840,
        60
      ]
    },
    {
      "parameters": {
        "content": "## Image message handler",
        "height": 217.2772064281918,
        "width": 817.294025812465,
        "color": 5
      },
      "id": "d161a730-50d9-4ea9-aea8-aae1bcbbfaff",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        840,
        300
      ]
    },
    {
      "parameters": {
        "content": "## Voice message handler",
        "height": 217.2772064281918,
        "width": 817.294025812465,
        "color": 6
      },
      "id": "4037182f-a8ea-482f-8b28-6174956bbe9e",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        840,
        540
      ]
    },
    {
      "parameters": {
        "content": "## Text message handler",
        "height": 217.2772064281918,
        "width": 817.294025812465,
        "color": 7
      },
      "id": "f4b98114-cd34-40e0-80a4-15b38d113e8a",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        840,
        780
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "c_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Tasks"
        },
        "start": "={{ $fromAi(\"start_time\") }}",
        "end": "={{ $fromAi(\"end_time\") }}",
        "additionalFields": {
          "summary": "={{ $fromAi(\"event_title\") }}"
        }
      },
      "id": "125ed3c8-27ff-4e57-bfd7-e1fbf5359fef",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        2020,
        480
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "CoQzrf1SdD6Lgqgv",
          "name": "Google Calendar - andylo@proxa.cc"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e6e07f2c-6add-45a7-b66b-0d2876918eed",
              "leftValue": "={{ $('Telegram Trigger').item.json?.message?.voice?.file_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8e6ba730-fe52-4f07-a399-bd266b1f9bf2",
      "name": "Is Voice Out",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2220,
        100
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "945dd605-7354-4fb9-b99d-b33c543ecbb1",
      "name": "Telegram Text Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2460,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "U5llWMLyKKrsKn7Q",
          "name": "Telegram - PAforAndyBot"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "id": "df357862-086e-41fd-a474-add5f1ec3818",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2620,
        40
      ],
      "credentials": {
        "telegramApi": {
          "id": "U5llWMLyKKrsKn7Q",
          "name": "Telegram - PAforAndyBot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "20852914-bbc0-4f9f-8a39-a610116698d8",
                    "leftValue": "={{ $json.message.document.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "file"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.photo[$json.message.photo.length - 1]?.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cd7f5251-23a7-41fe-9ece-4916b6b5359d",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "51b6d1a9-bf7a-4b1a-9231-df96ef5af84d",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "id": "fda7a5d9-1377-4b23-8664-e3f1543dc4e2",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        660,
        480
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "options": {}
      },
      "id": "be41f6f2-e442-48c1-8ca5-95250639c05a",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        880,
        120
      ],
      "credentials": {
        "openAiApi": {
          "id": "B1xgcEjX0hRSH8UV",
          "name": "OpenAi Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "assistant",
        "operation": "create",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "name": "File Assistant",
        "instructions": "You are a file assistant and will answer user question",
        "knowledgeRetrieval": true,
        "file_ids": "={{ $json.id }}",
        "options": {}
      },
      "id": "f06ba6ee-59c4-45f3-8c01-c26f220b071f",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        1040,
        120
      ],
      "credentials": {
        "openAiApi": {
          "id": "B1xgcEjX0hRSH8UV",
          "name": "OpenAi Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "prompt": "define",
        "text": "=Describe all the information of the file and try to get the information for following use question: {{ $('Telegram Trigger').first().json.message.caption }} and we can pass to another agent to handle the task.",
        "options": {}
      },
      "id": "c66dfa3e-f797-46d6-afe3-6c2d1a2eefcd",
      "name": "OpenAI2",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        1180,
        120
      ],
      "credentials": {
        "openAiApi": {
          "id": "B1xgcEjX0hRSH8UV",
          "name": "OpenAi Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "={{ $json.message.caption }}",
        "inputType": "base64",
        "options": {}
      },
      "id": "ec326e7b-127d-4728-8938-5190094ba225",
      "name": "OpenAI Image Analyze",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        880,
        360
      ],
      "credentials": {
        "openAiApi": {
          "id": "B1xgcEjX0hRSH8UV",
          "name": "OpenAi Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "9b02a7a1-ef31-4c83-b733-721c1423fefd",
      "name": "OpenAI Transcribe",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        1200,
        600
      ],
      "credentials": {
        "openAiApi": {
          "id": "B1xgcEjX0hRSH8UV",
          "name": "OpenAi Account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful assistant, you have a Reasoner that provide powerful reasoning LLM model that can assist you one decision making or deep researching. \n\nYou also have following tools:\n1. Map Searcher - Parameters: (query)\n2. Perplexity Search - Parameters: (query)\n3. Delete Calendar Event - Parameters: (event_id)\n4. Update Calendar Event - Parameters: (event_id, new_details)\n5. Creating Calendar Event - Parameters: (title, datetime, details)\n6. Get Calendar Event - Parameters: (date_range)\n7. Draft Tool - Parameters: (recipient, subject, body)\n8. Reply Tool - Parameters: (email_id, message)\n9. Send Tool - Parameters: (draft_id)\n\nOutput short answers only. Talk like a human. \n\nTry to return the original content from this tool for if you calling it.\n\nMore information:\nToday is {{ $now }}\nMy name is Andy Lo\n\n{{ $json.message }}",
        "options": {}
      },
      "id": "a0326e53-18e3-4491-b487-cadf49fcec06",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1840,
        100
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.output }}",
        "options": {}
      },
      "id": "f88d5cb3-180a-487e-a8b2-d4f8451d94e6",
      "name": "Generate Sound",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        2460,
        40
      ],
      "credentials": {
        "openAiApi": {
          "id": "B1xgcEjX0hRSH8UV",
          "name": "OpenAi Account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get File Path": {
      "main": [
        [
          {
            "node": "Download Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice": {
      "main": [
        [
          {
            "node": "OpenAI Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Transform 4": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Calendar Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Calendar Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Calendar Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Web Crawler": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Map Searcher": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Draft Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reply Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Format Transform  3": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Transform 2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Transform": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Is Voice Out": {
      "main": [
        [
          {
            "node": "Generate Sound",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Text Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI Image Analyze",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get File Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Transform  3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "main": [
        [
          {
            "node": "Format Transform 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Image Analyze": {
      "main": [
        [
          {
            "node": "Format Transform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Transcribe": {
      "main": [
        [
          {
            "node": "Format Transform 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Is Voice Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Sound": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3b45f72a-2373-44ea-92d1-ba781024823c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4221cc7208f142ff91856b22776eec81b71c256154ec8030569832c22d0c66d9"
  },
  "id": "ptuieGjy0akAk0fE",
  "tags": []
}