local-ai-packaged/n8n-tool-workflows/Template_4___I_Built_an_AI_Agent_to_be_Your_Financial_Investment_Assistant__100__automated_.json
{
  "name": "Template 4 - I Built an AI Agent to be Your Financial Investment Assistant (100% automated)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1VNUw2pSEJPf3EFAwU_cxKOLm8zIMR6fc",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": ""
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "25b8dc66-c34d-4f47-965c-6d6cf8320ae4",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [940, -260],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Xj8kL9mN5pQ2rT4v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c9495dd4-0e40-43f7-9c04-94f05d624804",
              "name": "category",
              "value": "Cocacola Financial Report",
              "type": "string"
            },
            {
              "id": "99533e57-20fd-4a8f-884e-09b7a96c3132",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "82731b2c-54aa-4a7e-8513-e3cceefbc4c3",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1080, -260]
    },
    {
      "parameters": {
        "content": "## Rag Load Financial Data",
        "height": 473.5256035857608,
        "width": 950.60512572722
      },
      "id": "79ba07d2-597b-4bce-a06b-a4fd4c903fd9",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [900, -320]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f69c2840-e780-4797-9329-549b9eb5b862",
      "name": "Question and Answer Chain",
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.3,
      "position": [980, 280]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "ca1d8af8-f6e6-4161-8e48-22213859bb0b",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [980, 420],
      "credentials": {
        "openAiApi": {
          "id": "h7nM4wP9kR2vL5tY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "cc207020-378d-4a5a-bdf0-25ed77adcc7d",
      "name": "Vector Store Retriever",
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [1100, 420]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d78dd371-00ec-4fe5-bc25-ec8235e871ae",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [1060, 660],
      "credentials": {
        "openAiApi": {
          "id": "h7nM4wP9kR2vL5tY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Rag Chat Bot",
        "height": 621.7999818608677,
        "width": 466.3391120602119,
        "color": 4
      },
      "id": "02ec0e12-9cf0-4cd1-81d1-9b907a101741",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf",
              "drawingsToFormat": "application/pdf",
              "slidesToFormat": "application/pdf",
              "sheetsToFormat": "application/pdf"
            }
          }
        }
      },
      "id": "db608c16-1f8f-4e88-8001-4c6c053db77b",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1220, -260],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Xj8kL9mN5pQ2rT4v",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 512,
        "chunkOverlap": 50,
        "options": {}
      },
      "id": "ea3188cb-e9bd-4342-a9e5-ff1a528a6378",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [1620, 0]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a3b66b28-58b9-4de0-8965-92a9fdbe5f2e",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [1500, -100],
      "credentials": {
        "openAiApi": {
          "id": "h7nM4wP9kR2vL5tY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b88895d2-1097-4e04-906e-a4a9f96f50ba",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [1600, -100]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "f1034059-fcd8-412c-892e-160f0db82962",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [1360, -260]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "50d93c0a-d616-43c8-aed8-e7066c9e87c9",
      "name": "OpenAI Chat Model Backbone",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [2060, 460],
      "credentials": {
        "openAiApi": {
          "id": "h7nM4wP9kR2vL5tY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Map Universal').item.json.sessionId }}"
      },
      "id": "00ce0203-658e-4642-acf0-33f41ce89232",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [2200, 460]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "31fdbc8c-8326-46fe-adf0-e7718881cf8c",
      "name": "Embeddings OpenAI2",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [2180, 740],
      "credentials": {
        "openAiApi": {
          "id": "h7nM4wP9kR2vL5tY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a35447ad-5044-484b-ac35-a23bfdda070f",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "77ddfe87-2020-428d-b91b-9b17c1f73f9b",
              "name": "fmp_api_key",
              "value": "random_string",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "5361646a-fd57-4dce-80a4-dac346b82a2e",
      "name": "Map Universal",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1680, 280]
    },
    {
      "parameters": {
        "toolDescription": "Statement Analysis\nGet key financial metrics for a company, including revenue, net income, and price-to-earnings ratio (P/E ratio). Assess a company's financial performance and compare it to its competitors.\n\nQuery Parameter\n1. period: enum(annual, quarter)\n2. limit: number",
        "url": "=https://financialmodelingprep.com/api/v3/key-metrics/{{ $json.message.content }}",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "apikey",
              "valueProvider": "fieldValue",
              "value": "={{ $('Map Universal').item.json.fmp_api_key }}"
            },
            {
              "name": "period",
              "valueProvider": "fieldValue",
              "value": "annual"
            }
          ]
        }
      },
      "id": "53424063-e00e-4475-b39f-53d489334885",
      "name": "FMP Request",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [2540, 500]
    },
    {
      "parameters": {
        "name": "cocacola_stock_knowledge",
        "description": "Coca-Cola Reports Third Quarter 2024 Results and Provides Updated Guidance"
      },
      "id": "ac2dddf8-981e-4657-a330-3c4168e85d05",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [2300, 500]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "a5f82f3c-71ce-44dc-a149-93464e82b815",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [2420, 620],
      "credentials": {
        "openAiApi": {
          "id": "h7nM4wP9kR2vL5tY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a53baa41-85b5-44c0-a056-efc00348505c",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [1500, 280],
      "webhookId": "358e153f-d3f0-4072-af7b-020cd664acf5"
    },
    {
      "parameters": {
        "content": "## Chat with agent",
        "height": 682.636309856671,
        "width": 1245.7485377698692,
        "color": 6
      },
      "id": "279a1321-7dbc-490a-aef6-9c4c74994538",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1420, 200]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "id": "7d42d00a-99a3-41f6-9b2e-1db250f58a2d",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [1500, -260],
      "credentials": {
        "supabaseApi": {
          "id": "q8sW3fD6gH9jK4mN",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "id": "96226af3-0ce8-4729-bae6-ac7e2db11d57",
      "name": "Supabase Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [1040, 540],
      "credentials": {
        "supabaseApi": {
          "id": "q8sW3fD6gH9jK4mN",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "You are a a broker assistant,  your task is to locate the company and return the ticker symbol.\nWhen user asked a question, please locate and return the ticker symbol.\n\n**Return the ticker symbol only\n\nExample:\nUser: What is the cocacola 2024 revenue\nOutput: KO\nUser: What is the revenue of Tesla in 2024\nOutput: TSLA",
              "role": "system"
            },
            {
              "content": "={{ $('When chat message received').item.json.chatInput }}"
            }
          ]
        },
        "options": {}
      },
      "id": "44de75ab-1363-4bc3-834f-1598ee2ae39c",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [1860, 280],
      "credentials": {
        "openAiApi": {
          "id": "h7nM4wP9kR2vL5tY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Question: {{ $('When chat message received').item.json.chatInput }}\nTicker Symbol: {{ $json.message.content }}",
        "options": {}
      },
      "id": "cba56d67-c085-4362-9e7b-c69a0e340938",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [2200, 280]
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "id": "e2be8b2a-9545-4410-a43f-98cb8b4e3cb6",
      "name": "Supabase Vector Store2",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [2180, 620],
      "credentials": {
        "supabaseApi": {
          "id": "q8sW3fD6gH9jK4mN",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model Backbone": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Map Universal": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FMP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Map Universal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store2": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2dec173d-624b-4047-8cdd-7117fd6fcdc9",
  "meta": {
    "templateId": "2440",
    "templateCredsSetupCompleted": true,
    "instanceId": "4221cc7208f142ff91856b22776eec81b71c256154ec8030569832c22d0c66d9"
  },
  "id": "Yw5vT8pH2mK9nL4x",
  "tags": []
}
