local-ai-packaged/n8n-tool-workflows/Tutorial_11_2___How_to_Use_AI_for_Dropshipping__Virtual_Try_On___Image_Scraping_.json
{
  "name": "Tutorial 11.2 - How to Use AI for Dropshipping: Virtual Try-On & Image Scraping!",
  "nodes": [
    {
      "parameters": {},
      "id": "b7eb54d9-3bd0-46cf-8595-bb1e887049a9",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        640,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/X037tcud0rIknwfI3/runs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"keyword\": \"Long Sleeve Tees\",\n  \"maxItems\": 10,\n  \"proxy\": {\n    \"useApifyProxy\": true,\n    \"apifyProxyGroups\": [\n      \"RESIDENTIAL\"\n    ],\n    \"apifyProxyCountry\": \"US\"\n  }\n}",
        "options": {}
      },
      "id": "59c4f827-ecf6-480d-808e-37c8324b8d4d",
      "name": "Start Crawler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f2e8f645-bc88-4299-9c36-4f27037f1b7d",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "SUCCEEDED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "645276fb-d346-4434-912c-051bbac88752",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1440,
        380
      ]
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "0d05b4b0-3f43-4b29-a299-f7ab218ff189",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1060,
        380
      ],
      "webhookId": "d4b36a31-5636-47c1-b417-8e5510acf120"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/acts/X037tcud0rIknwfI3/runs/{{ $json.data.id }}",
        "options": {}
      },
      "id": "df804770-9f00-4377-815e-e1a14c811f81",
      "name": "Status Polling",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        380
      ]
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items",
        "options": {}
      },
      "id": "6dfbaa40-3bf5-4f39-a713-9c0312183033",
      "name": "Get Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1640,
        380
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "xxxxx",
          "mode": "list",
          "cachedResultName": "Tutorial 11.2 - How to Use AI for Dropshipping: Virtual Try-On & Image Scraping!",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/xxxxx/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/xxxxx/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "imageUrl",
              "displayName": "imageUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "originalImage",
              "displayName": "originalImage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "productCode",
              "displayName": "productCode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "productTitle",
              "displayName": "productTitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "originalPrice",
              "displayName": "originalPrice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sold",
              "displayName": "sold",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tagText",
              "displayName": "tagText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "productUrl",
              "displayName": "productUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "storeId",
              "displayName": "storeId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "storeName",
              "displayName": "storeName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "storeUrl",
              "displayName": "storeUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "generatedPhoto",
              "displayName": "generatedPhoto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "generatedDemo",
              "displayName": "generatedDemo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "4de397d0-e1c0-49da-98ef-e434a0b8659e",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2040,
        380
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DqEJMNtcMACLlnZ7",
          "name": "Google Sheets - andylo@proxa.cc"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "id": "be8edd2a-9ed1-48bb-ba8b-07de514d39fe",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        680,
        740
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "16520ec8-c829-433e-a442-a7bc11fa486a",
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b75f1d0a-7080-412c-89d6-766d9198e113",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1440,
        740
      ]
    },
    {
      "parameters": {
        "amount": 3
      },
      "id": "a0f303d1-b63d-497d-9324-23b235ab1412",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1060,
        740
      ],
      "webhookId": "5d8c03e5-543a-4fdb-874f-1f5381f19f5f"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "xxxxx",
          "mode": "list",
          "cachedResultName": "Tutorial 11.2 - How to Use AI for Dropshipping: Virtual Try-On & Image Scraping!",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/xxxxx/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/xxxxx/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "productCode": "={{ $('Limit').item.json.productCode }}",
            "generatedPhoto": "={{ $json.image.url }}"
          },
          "matchingColumns": [
            "productCode"
          ],
          "schema": [
            {
              "id": "imageUrl",
              "displayName": "imageUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "productCode",
              "displayName": "productCode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "productTitle",
              "displayName": "productTitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "originalPrice",
              "displayName": "originalPrice",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sold",
              "displayName": "sold",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tagText",
              "displayName": "tagText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "productUrl",
              "displayName": "productUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "storeId",
              "displayName": "storeId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "storeName",
              "displayName": "storeName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "storeUrl",
              "displayName": "storeUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "generatedPhoto",
              "displayName": "generatedPhoto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "289a4c2a-c3af-4475-b3df-3689653f2052",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1840,
        740
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DqEJMNtcMACLlnZ7",
          "name": "Google Sheets - andylo@proxa.cc"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/kling/v1-5/kolors-virtual-try-on",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n            \"human_image_url\": \"https://kwai-kolors-kolors-virtual-try-on.hf.space/file=/tmp/gradio/d0b7d20feab69d8febd0051c31dd5d1328257e5f7fab8ef711c5f895a26c9628/004.jpg\",\n            \"garment_image_url\": \"{{ $json.imageUrl }}\"\n        } ",
        "options": {}
      },
      "id": "7d276c84-47df-482e-8e33-0ba75273bcf3",
      "name": "Try On Api",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        740
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9K4i5GJ3fAwr5t76",
          "name": "Stanley Fal AI"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9917830a-cc8b-4b65-9b66-ac2fbe7a1cd9",
              "name": "productCode",
              "value": "={{ \"PD\" + $json.productCode }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "e174be1d-b954-4743-b4e6-a83f02b0bbf9",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        380
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.response_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "6191e6f6-2da0-4cb7-a9a5-0dc7c72981db",
      "name": "Try On Get Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1640,
        740
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9K4i5GJ3fAwr5t76",
          "name": "Stanley Fal AI"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.status_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "6d6ee357-b12a-49c5-b292-09a5650f243f",
      "name": "Try On Status Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        740
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "9K4i5GJ3fAwr5t76",
          "name": "Stanley Fal AI"
        }
      }
    },
    {
      "parameters": {
        "content": "## Scraping Clothing Product Images from AliExpress",
        "height": 307.91712085273883,
        "width": 1665.0043755390639,
        "color": 4
      },
      "id": "e23ad64a-b6f8-4d57-8bac-4c342ee3949d",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        580,
        280
      ]
    },
    {
      "parameters": {
        "content": "## Applying AI to Try On the Clothes",
        "height": 282.9170440888959,
        "width": 1667.0877152693836,
        "color": 5
      },
      "id": "1224bdb6-a4d7-4f21-8a84-07a5d7fdbd40",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        580,
        660
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Start Crawler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Crawler": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Status Polling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Polling": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Result": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Try On Api",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Try On Get Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Try On Status Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Try On Api": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Try On Get Result": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Try On Status Check": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c8e52dae-954f-4c18-8312-33d1a4d585cd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4221cc7208f142ff91856b22776eec81b71c256154ec8030569832c22d0c66d9"
  },
  "id": "N7C8hTZ2jT67fxpg",
  "tags": []
}