local-ai-packaged/n8n-tool-workflows/WorkflowC_PromptCreation&ImageGeneration.json
{
    "name": "Workflow C - Image Generation",
    "nodes": [
      {
        "id": "1",
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [200, 200],
        "parameters": {}
      },
      {
        "id": "2",
        "name": "AI Agent Prompt",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1,
        "position": [400, 200],
        "parameters": {
          "promptType": "define",
          "text": "Your instructions for generating an image prompt from transcript text…"
        }
      },
      {
        "id": "3",
        "name": "Stable Diffusion",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [600, 200],
        "parameters": {
          "method": "POST",
          "url": "http://host.docker.internal:7861/sdapi/v1/txt2img",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"prompt\": \"{{ $json.prompt }}\",\n  \"width\": 512,\n  \"height\": 512,\n  \"steps\": 20,\n  \"sampler_name\": \"Euler a\"\n}"
        }
      },
      {
        "id": "4",
        "name": "Split Out Images",
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [800, 200],
        "parameters": {
          "fieldToSplitOut": "images"
        }
      },
      {
        "id": "5",
        "name": "Convert to Binary",
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1,
        "position": [1000, 200],
        "parameters": {
          "operation": "toBinary",
          "sourceProperty": "images"
        }
      },
      {
        "id": "6",
        "name": "Write Image to Disk",
        "type": "n8n-nodes-base.writeBinaryFile",
        "typeVersion": 1,
        "position": [1200, 200],
        "parameters": {
          "fileName": "=/data/shared/sd_output_{{$itemIndex}}.png",
          "fileData": "={{ $binary.data }}"
        }
      }
    ],
    "connections": {
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "AI Agent Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent Prompt": {
        "main": [
          [
            {
              "node": "Stable Diffusion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Stable Diffusion": {
        "main": [
          [
            {
              "node": "Split Out Images",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out Images": {
        "main": [
          [
            {
              "node": "Convert to Binary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to Binary": {
        "main": [
          [
            {
              "node": "Write Image to Disk",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false,
    "settings": {},
    "id": "WorkflowC-abc123"
  }
  