local-ai-packaged/n8n-tool-workflows/WorkflowD_AI_Agent_FFmpeg.json
{
    "name": "Workflow D - FFmpeg with AI Command",
    "nodes": [
      {
        "id": "1",
        "name": "Manual Trigger (for Demo)",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [200, 200],
        "parameters": {}
      },
      {
        "id": "2",
        "name": "Set Data",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3,
        "position": [400, 200],
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "name": "images",
                "type": "array",
                "value": [
                  "/data/shared/sd_output_0.png",
                  "/data/shared/sd_output_1.png",
                  "/data/shared/sd_output_2.png"
                ]
              },
              {
                "name": "voiceOver",
                "type": "string",
                "value": "/data/shared/voiceover.mp3"
              },
              {
                "name": "backgroundMusic",
                "type": "string",
                "value": "/data/shared/bg_music.mp3"
              },
              {
                "name": "chunks",
                "type": "array",
                "value": [
                  {
                    "start": 0,
                    "end": 4,
                    "text": "Welcome to the show"
                  },
                  {
                    "start": 4,
                    "end": 8,
                    "text": "We're so excited!"
                  }
                ]
              },
              {
                "name": "videoDuration",
                "type": "number",
                "value": 30
              },
              {
                "name": "outputPath",
                "type": "string",
                "value": "/data/shared/final_video.mp4"
              }
            ]
          }
        }
      },
      {
        "id": "3",
        "name": "AI Agent - Build FFmpeg Cmd",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1,
        "position": [600, 200],
        "parameters": {
          "promptType": "define",
          "text": "=You are an expert in FFmpeg and video editing...\n\n# REPLACE THIS BLOCK WITH THE PROMPT FROM SECTION 1\n\n",
          "hasOutputParser": true
        }
      },
      {
        "id": "4",
        "name": "Execute Command - Use AI Output",
        "type": "n8n-nodes-base.executeCommand",
        "typeVersion": 1,
        "position": [800, 200],
        "parameters": {
          "command": "={{ $json[\"output\"] }}"
        }
      }
    ],
    "connections": {
      "Manual Trigger (for Demo)": {
        "main": [[{ "node": "Set Data", "type": "main", "index": 0 }]]
      },
      "Set Data": {
        "main": [[{ "node": "AI Agent - Build FFmpeg Cmd", "type": "main", "index": 0 }]]
      },
      "AI Agent - Build FFmpeg Cmd": {
        "main": [[{ "node": "Execute Command - Use AI Output", "type": "main", "index": 0 }]]
      }
    },
    "active": false,
    "settings": {},
    "id": "WorkflowD-AI-Command"
  }
  