local-ai-packaged/n8n-tool-workflows/WorkflowE_Title_Caption_YouTubeUpload_ExcelRow.json
{
    "name": "Workflow E - Upload & Sheets",
    "nodes": [
      {
        "id": "1",
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [240, 200],
        "parameters": {}
      },
      {
        "id": "2",
        "name": "Generate Title/Caption",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1,
        "position": [480, 200],
        "parameters": {
          "promptType": "define",
          "text": "Your instructions for generating short title & caption in JSON format..."
        }
      },
      {
        "id": "3",
        "name": "YouTube Upload",
        "type": "n8n-nodes-base.youTube",
        "typeVersion": 1,
        "position": [720, 200],
        "parameters": {
          "resource": "video",
          "operation": "upload",
          "videoFields": {
            "title": "={{ $json[\"title\"] }}",
            "description": "={{ $json[\"caption\"] }}"
          },
          "fileLocation": "/data/shared/final_video.mp4"
        },
        "credentials": {
          "youTubeOAuth2Api": "YOUR_YOUTUBE_CREDENTIAL"
        }
      },
      {
        "id": "4",
        "name": "Append Row to Sheets",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [960, 200],
        "parameters": {
          "operation": "append",
          "sheetName": "YourSheetName",
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Video Title": "={{ $json.title }}",
              "Video Caption": "={{ $json.caption }}",
              "Timestamp": "={{ $now }}"
            }
          }
        },
        "credentials": {
          "googleSheetsOAuth2Api": "YOUR_GOOGLE_SHEETS_CREDENTIAL"
        }
      }
    ],
    "connections": {
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Generate Title/Caption",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Title/Caption": {
        "main": [
          [
            {
              "node": "YouTube Upload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "YouTube Upload": {
        "main": [
          [
            {
              "node": "Append Row to Sheets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false,
    "settings": {},
    "id": "WorkflowE-abc123"
  }
  