local-ai-packaged/n8n-tool-workflows/WorkflowA_TextGeneration&VoiceOver.json
{
    "name": "Workflow A - Text & Voice Over",
    "nodes": [
      {
        "id": "1",
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [240, 300],
        "parameters": {}
      },
      {
        "id": "2",
        "name": "Generate Script (AI)",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1,
        "position": [460, 300],
        "parameters": {
          "promptType": "define",
          "text": "Write your LLM instructions here..."
        }
      },
      {
        "id": "3",
        "name": "ElevenLabs TTS",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [680, 300],
        "parameters": {
          "method": "POST",
          "url": "https://api.elevenlabs.io/v1/text-to-speech/YOUR_VOICE_ID",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "text",
                "value": "={{ $json[\"output\"] }}"
              }
            ]
          }
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "YOUR_ELEVENLABS_CREDENTIAL",
            "name": "ElevenLabs TTS Credentials"
          }
        }
      },
      {
        "id": "4",
        "name": "Write TTS File",
        "type": "n8n-nodes-base.writeBinaryFile",
        "typeVersion": 1,
        "position": [900, 300],
        "parameters": {
          "fileName": "/data/shared/voiceover.mp3",
          "fileData": "={{ $binary.data }}"
        }
      }
    ],
    "connections": {
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Generate Script (AI)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Script (AI)": {
        "main": [
          [
            {
              "node": "ElevenLabs TTS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ElevenLabs TTS": {
        "main": [
          [
            {
              "node": "Write TTS File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false,
    "settings": {},
    "id": "WorkflowA-abc123"
  }
  